#top .av-special-heading.av-l8tllgvc-b020870c51ee165e98735005ebae319f{
padding-bottom:10px;
}
body .av-special-heading.av-l8tllgvc-b020870c51ee165e98735005ebae319f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-l8tllgvc-b020870c51ee165e98735005ebae319f .av-subheading{
font-size:15px;
}

