#top #wrap_all .avia-slideshow .av-slideshow-caption.av-l904m1x3-2a2292132a1c307a2c5f6a7c1b45dd5b__0 .avia-caption-title{
color:#f4f4f4;
}

#top .hr.av-la1a0l57-d37206b87356f7d3cc26314acb1ad4b4{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-la1a0l57-d37206b87356f7d3cc26314acb1ad4b4 .hr-inner{
width:50px;
max-width:45%;
}

