.avia-section.av-la1yc24e-4635f6293a8d26e7c053699a1cd4f5f8{
background-color:#020202;
background-image:unset;
}

.avia-image-container.av-la1bazez-f4558c67ad004e3488d49f19c2bdc57f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1bazez-f4558c67ad004e3488d49f19c2bdc57f .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26n8ti-4b6c9a1a7a9cbe8add5ac15c4093468a .avia_textblock{
color:#edae44;
}

.avia-image-container.av-1sjl4g-cc5fa1d0f57f8ea1fbfe840bed3d39b4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-1sjl4g-cc5fa1d0f57f8ea1fbfe840bed3d39b4 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26oxik-4bc145e9386b5e3f09198fb6ec71334c .avia_textblock{
color:#edae44;
}

.avia-image-container.av-16ocug-1bd3676b28257715e127b7b3f870a5ca img.avia_image{
box-shadow:none;
}
.avia-image-container.av-16ocug-1bd3676b28257715e127b7b3f870a5ca .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26r34c-8e3984e9346e240d732d6acaceeec705 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-qziqo-b224ba7d0716ec4687f801619ecc9e68 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-qziqo-b224ba7d0716ec4687f801619ecc9e68 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26rg8h-f009c4097a4b792083ec49379d728b60 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-la1y6ukd-20e480e14815ec382ab6bc372b6918f9 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1y6ukd-20e480e14815ec382ab6bc372b6918f9 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26rt22-68a173662af46e3417ca6a71cd3c3a23 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-la1y8fgp-c4d3d21f8b629414987eebbaf2eefe39 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1y8fgp-c4d3d21f8b629414987eebbaf2eefe39 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26sbt1-5c2e20229485134a855fabb7147875a0 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-la1y8twz-dd994e847e495bc03873524521bad8ed img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1y8twz-dd994e847e495bc03873524521bad8ed .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26spz3-bdd05b1a67ec02bb4c54c30b7641c641 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-la1y95z6-e1c155ea531fe3f0cf648e14b151334f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1y95z6-e1c155ea531fe3f0cf648e14b151334f .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-la26x4do-ad7b38ab432c0ef45a147f2df11b7750 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-la1y9o0v-7a08b8d89624b6f13a09c9a06a363e28 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1y9o0v-7a08b8d89624b6f13a09c9a06a363e28 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-lotrs-483445eaaa598202b9ec8e55b5ee3535 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-la1ya0tm-0d694aec5a0cb70dbc9bf826827feefc img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1ya0tm-0d694aec5a0cb70dbc9bf826827feefc .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-f6h1k-4dee2f7e385b13628224e40371d4e0e3 .avia_textblock{
color:#edae44;
}

.avia-image-container.av-la1yaf56-e38a875a8c1c8106637508b342666574 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-la1yaf56-e38a875a8c1c8106637508b342666574 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av_textblock_section.av-8vd48-dbf58dc0e362213d484569b261b07d60 .avia_textblock{
color:#edae44;
}

